@media print {

    .accordion .content {
        display: block !important;
        height: fit-content !important;
    }
    
    a[href*='//']:after {
        content:" (" attr(href) ") ";
        color: primary;
        align-content: space-around;
    }
}